
*{
    font-family: 'Dosis', sans-serif;
}
.first-header{
    background-color: rgb(27, 65, 114);
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.required{
    text-align: right;
    }
    
.gray-p{
    color: rgb(158, 158, 158);
}

.first-hr{
    border: solid  rgb(27, 65, 114) 4px;
}
.second-hr{
    border: solid rgb(27, 65, 114) 2px;
}
.first-leg{
    text-align: left;
    font-size: 30px;
}

.first-field{
    text-align: left;
    border: hidden;
}
.second-field{
    border: hidden;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.spacing{
    margin: 20px;
    text-align: left;

}

.spacing-2{
    margin: 15px;
    text-align: left;
}

body {
    text-align: center;
    font-size: 20px;
}

.news{
    text-align: left;
}

.news-form{
    text-align: left;
}


.padding{
padding-left: 15px;
padding-right: 15px;
}

.submit{
 background-color: rgb(74, 202, 185);
 padding-left: 100px;
 color: white;
 font-size: 30px;
 padding-right: 100px;
 padding-top: 20px;
 padding-bottom: 20px;
 margin-top: 20px;
}






/* MEDIA QUERIES */

@media (min-width: 768px){

    
}